body {
	background: linear-gradient(#ff0000, #ff00ff, #000fff, #00ffff, #00ff00, #ffff00);
}

h1 {
    font-size: 36px;
    color: white;
}

.section {
    font-size: 24px;
    margin: 5vh 5vw;
    padding: 5vh 5vw;
    background-color: antiquewhite;
}

a {
    color:violet;
}

a:hover {
    color:green;
}

#cool {
    margin: 20px;
    width: 500px;
}



