

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b263b;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin:auto;
}

.email {
  margin: 60px 0px 0px 100px;
}

.email a {
  color: #e0e1dd;
  text-decoration: none;
  font-size: 18pt;
  margin: 40px 10px 0px 0px;
  font-family: Archivo Narrow, Helvetica;
}

.email a:hover {
  color: #fff;
}

#main-header {
  background-color: #0d1b2a;
  /* position: absolute; */
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
}

h1 {
  color: #0d1b2a;
  background-color: #e0e1dd;
  text-align: center;
  font-size: 200pt;
  height: 210px;
  width: 660px;
  line-height: 0.9;
  margin: 0px 0px 0px 100px;
  padding: 15px 15px 15px 15px;
  display:inline-block;
}

h2 {
  color: #415a77;
  font-size: 42pt;
  line-height: 0.9em;
  margin: 70px 10px 0px 0px;
}

h3 {
  color: #778da9;
  font-size: 30pt;
  margin: 40px 0px 0px 30px;
  line-height: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Bebas Neue, Helvetica;
}

header {
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    margin-bottom: 2em;
}

p {
  color: #e0e1dd;
  font-size: 18pt;
  /*padding: 5px;*/
  margin: 40px 10px 0px 0px;
  font-family: Archivo Narrow, Helvetica;
}

ul {
  display: inline-block;
  margin: auto;
  list-style-type: none;
}

li {
  float: right;
  margin: 0 30px;
}

li a {
  display:block;
  font-size: 60px;
  font-family: Bebas Neue, Helvetica;
  color: #e0e1dd;
  text-decoration: none;
}

li a:hover {
  color: #fff;
}

.twocolumns {
  display: flex;
  flex-direction: row;
}

.logo img{
  margin-left: 100px;
  /* float:left; */
  height:210px;
  text-align:center;
}

.project {
  margin: 40px 0 0 0;
}

.project img {
  width: 200px;
  height:200px;
  margin: 30px 0 0 0px;
}

.contacts ul {
  margin-top: 30px;
}

@media only screen and (max-width: 945px) {
  #main-header {
    /* width: 200%; */
    height: 80%;
  }
  .logo img {
    margin:auto;
    height:105px;
    /* display:none; */
  }
  .logo {
    margin: auto;
  }
  .email {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  h2 {
    font-size: 34pt;
    margin-top: 30px;
  }
  h3 {
    font-size: 26pt;
    margin-top: 10px;
  }
  p {
    font-size: 15pt;
  }
  .twocolumns {
    display: column;
  }
  .project img {
    width: 100px;
    height: 100px;
  }
  #main-header {
    flex-direction: column;
  }
  li {
    margin: 0 10px;
  }
  li a {
    font-size: 40px;
    text-align: center;
  }
}
